body{
    background-color: rgb(173, 212, 189);
}

#cx1{
    background-color: rgb(226, 153, 44);
    width: 50px;
    height: 50px;
}

#cx2{
    block-size: ;
    background-color: rgb(80, 44, 226);
    width: 50px;
    height: 50px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}