@charset "UTF-8";
* {
    box-sizing: border-box;
    margin: 0 auto
}

@font-face {
    font-family: "droid";
    src: url(fontes/idroid.otf);
}

/* Paragráfo global */
p{
    text-indent: 15px;
    padding-left: 18px;
    padding-right: 18px;
}

/* Títulos global */
h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-bottom: 25px;
    padding-top: 15px;
}

h2{
    padding: 17px 5px 15px 18px;
    font-family: 'droid';
}

/* parte 1 - header */
body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header{
    background-image: linear-gradient(to bottom, rgb(107, 185, 132), #2d2d2de2);
}

.p1{
    text-align: center;
    color: white;
    margin-bottom: 4px; 
}

.p2{
    text-align: center;
    color: white;
    margin-bottom: 15px; 
}

nav{
    padding: 10px;
}

nav > a{
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    margin-left: 15px;
}

nav > a:hover{
    display: inline;
}

/* Parte 2 - main */

main{
    background-color: white;
    width: 800px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.459);
}

.versao1{
    background-image: linear-gradient(to right, rgba(72, 209, 79, 0.641), rgb(73, 191, 140));
    width: 765px;
    padding: 5px 10px 5px 10px ;
    margin: 18px;
}


