@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(162, 180, 180);
}

header{
    background-color: rgb(146, 124, 167);
    padding-top: 15px;
   
}

nav{
    text-align: right;
    padding-top: 15px;
}

a{
    display: inline-flex;/*pesquisar novamente*/
    align-items: center;
    margin-right: 30px;
    text-decoration: none;
    margin-bottom: 5px;
    
}

div{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: black;
    margin-left: 15px;
    
}

a::before{
    content: "";
    background-color: rgb(190, 39, 39);
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

a:hover{
    text-decoration: underline;
    color: aquamarine;
    background-color: black;
}